<!DOCTYPE html>
        <html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
          <body>
            <h1>HELLO WORLD!!</h1>
		<table>
		  <tr>{% for n in header_fields %}<th>{{ n }}</th>{% endfor %}</tr>
		  {% for n in table_data %}
		    <tr> 
		      {% for nn in n %}
		      <td>{{ nn }}</td>
		      {% endfor %}
		    </tr>
		  {% endfor %}
		</table>		
          </body>
        </html>
